.footer{
    /* border: 2px solid red; */
    background-color: rgb(205, 35, 35);
    color: white;
}

.container{
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-around;
}

.container >div {
    display: flex;
    padding: 20px;
    
}
.para{
    margin-left: 10px;
}